# PostgreSQL Ayarları
POSTGRES_USER=ornek_kullanici
POSTGRES_PASSWORD=ornek_sifre_123
POSTGRES_DB=image_repo_db

# MinIO Ayarları
MINIO_ROOT_USER=admin_minio
MINIO_ROOT_PASSWORD=super_gizli_sifre
MINIO_BUCKET=resimler
